body{
    background-image: src="docislandback.jpg";
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
    margin: 18.897637795;
}
p2{
    font-size: 2.4cm;
    color: aliceblue;
    position:absolute;
    top: 40%;
    font-family: 'Sofia Sans', sans-serif;

}
p1{
    font-size: 0.7cm;
    color: aliceblue;
    margin-left: 0.5cm;
    float: left;
    position: fixed;
    margin-top:17px ;
    margin-left:0.3cm ;
    font-family: 'Sofia Sans', sans-serif;
}
#box1{
    font-size: 0.7cm;
    color: aliceblue;
    float:right;
    margin-top: 17px;
    font-family: 'Sofia Sans', sans-serif;
}   


a:link{
     color: rgb(255, 255, 255);
    }
a:visited{
    color: aliceblue;
}
a:hover{
    color: rgba(240, 248, 255, 0.5);
}


button{
    background-color: rgba(137, 43, 226, 0.199);
    border-color:rgba(0, 0, 0, 0.534) ;
    color: aliceblue;
    border-radius: 7px;
    height: 0.7cm;
    width: 10.5cm;
    font-family: 'Sofia Sans', sans-serif;

    position: fixed;
    top: 53%;
}
button:hover{
    background-color: rgba(137, 43, 226, 0.096);
}
#text1{margin-right: 20px;}
#text2{margin-right: 20px;}
#text3{margin-right: 20px;}

#word1{
    font-size: 1.2cm;
    font-family: 'Sofia Sans', sans-serif;
    color: aliceblue;
    position: absolute;
    top: 40%;
    left: 66%;

}
#word2{
    font-size: 1.2cm;
    font-family: 'Sofia Sans', sans-serif;
    color: aliceblue;
    position: absolute;
    top: 46%;
    left: 69%;

}
#word3{
    font-size: 1.2cm;
    font-family: 'Sofia Sans', sans-serif;
    color: aliceblue;
    position: absolute;
    top: 57%;
    left: 70%;

}
